body{
margin:0;
font-family:tahoma;
background:linear-gradient(135deg,#6a11cb,#2575fc);
min-height:100vh;
}

.top-box{
width:90%;
max-width:900px;
margin:20px auto;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);
color:white;
padding:25px;
border-radius:25px;
text-align:center;
}

.grid{
width:95%;
max-width:900px;
margin:auto;
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.btn{
text-decoration:none;
color:white;
padding:25px 15px;
border-radius:20px;
text-align:center;
font-size:18px;
font-weight:bold;
}

.btn p{
font-size:13px;
margin-top:10px;
}

.rubika{
background:#00c853;
}

.telegram{
background:#039be5;
}

.instagram{
background:#e91e63;
}

.eita{
background:#ff9800;
}

.soroush{
background:#9c27b0;
}

.youtube{
background:#f44336;
}

.whatsapp{
background:#25d366;
}

.contact{
background:#37474f;
}
